 body {
     font-family: sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     background: #2c3e50;
     color: white;
 }

 .container {
     display: flex;
     gap: 50px;
     margin-top: 30px;
 }

 .semaforo {
     width: 80px;
     height: 220px;
     background: #333;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 15px;
     gap: 10px;
     border: 4px solid #555;
 }

 .luz {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background: #111;
     transition: 0.3s;
 }

 .verde.ativo {
     background: #2ecc71;
     box-shadow: 0 0 20px #2ecc71;
 }

 .amarelo.ativo {
     background: #f1c40f;
     box-shadow: 0 0 20px #f1c40f;
 }

 .vermelho.ativo {
     background: #e74c3c;
     box-shadow: 0 0 20px #e74c3c;
 }


 .controles {
     background: #34495e;
     padding: 20px;
     border-radius: 10px;
     width: 300px;
 }

 .control-group {
     margin-bottom: 15px;
 }

 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
 }

 select,
 button {
     width: 100%;
     padding: 8px;
     border-radius: 5px;
     border: none;
 }

 .status-box {
     margin-top: 20px;
     font-family: monospace;
     font-size: 0.9em;
     background: #000;
     padding: 10px;
     border-radius: 5px;
     width: 100%;
     color: #0f0;
 }